@model IEnumerable<AspWebMvc.Models.GrantType>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Community Assist</h1>
    <p class="lead">Paying forward, to build a better community.</p>

</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GrantTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrantTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrantTypeLifetimeMaximum)
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GrantTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrantTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrantTypeLifetimeMaximum)
        </td>

    </tr>
    }
</table?